**
!Cargo.toml
!Cargo.lock
!LICENSE
!NOTICE
!README.md
!crates/
!crates/tokencrumb-mcp-proxy/
!crates/tokencrumb-mcp-proxy/LICENSE
!crates/tokencrumb-mcp-proxy/Cargo.toml
!crates/tokencrumb-mcp-proxy/src/
!crates/tokencrumb-mcp-proxy/src/**
!tools/
!tools/interop/
!tools/interop/Cargo.toml
!tools/interop/src/
!tools/interop/src/**
!vendor/
!vendor/biscuit-auth/
!vendor/biscuit-auth/Cargo.toml
!vendor/biscuit-auth/build.rs
!vendor/biscuit-auth/LICENSE
!vendor/biscuit-auth/README.md
!vendor/biscuit-auth/src/
!vendor/biscuit-auth/src/**
